.btn-change.hidden{
    display: none;
}
.btn-change{
    display: inline-block;
}
.img-snapshot{
    max-width: 400px;
}
.input-wrapper.hidden{
    display: none;
}
.input-wrapper{
    display: inline-block;
}